{erl_opts, [debug_info]}.
{deps, [
    {simple_bridge, {git, "https://github.com/nitrogen/simple_bridge",  {branch, master}}},
    {nitrogen_core, {git, "https://github.com/nitrogen/nitrogen_core",  {branch, master}}},
    {nprocreg,      {git, "https://github.com/nitrogen/nprocreg",       {branch, master}}},
    {simple_cache,  {git, "https://github.com/nitrogen/simple_cache",   {branch, master}}},
    {erlpass,       {git, "https://github.com/ferd/erlpass",            {branch, master}}}
]}.

{shell, [
    {config, "app.config"},
    {apps, [epicenter]}
]}.

{profiles, [
  {dev,
   [{deps, [
     {mimetypes,  {git, "https://github.com/spawngrid/mimetypes", {branch, master}}},
     {sync,       {git, "https://github.com/rustyio/sync",        {branch, master}}}
   ]}]}]}.
